.ris-i {
    align-items: center;
    box-sizing: content-box;
    color: $c-gray2;
    display: inline-flex;
    font-family: $ff-ris-font-icons;
    height: 16px;
    justify-content: center;
    line-height: 1;
    margin: 0;
    padding: 0;
    speak: none;
    width: 16px;

    &_has-bg {
        background-color: $c-gray4;
        border-radius: 50%;
        display: inline-block;
        line-height: 1;
        padding: 7px;
    }

    &__add {
        &::before {
            content: 'J';
        }
    }

    &__apps {
        &::before {
            content: 'B';
        }
    }

    &__arrow-drop-down {
        &::before {
            content: 'C';
        }
    }

    &__arrow-drop-up {
        &::before {
            content: 'D';
        }
    }

    &__arrow-forward {
        &::before {
            content: 'E';
        }
    }

    &__back {
        &::before {
            content: 'F';
        }
    }

    &__check {
        &::before {
            content: 'G';
        }
    }

    &__chevron-left {
        &::before {
            content: 'H';
        }
    }

    &__chevron-right {
        &::before {
            content: 'I';
        }
    }

    &__close {
        &::before {
            content: 'J';
        }
    }

    &__expand-less {
        &::before {
            content: 'K';
        }
    }

    &__expand-more {
        &::before {
            content: 'L';
        }
    }

    &__favorite {
        &::before {
            content: 'M';
        }
    }

    &__fullscreen-exit {
        &::before {
            content: 'N';
        }
    }

    &__fullscreen {
        &::before {
            content: 'O';
        }
    }

    &__menu {
        &::before {
            content: 'P';
        }
    }

    &__more {
        &::before {
            content: 'Q';
        }
    }

    &__refresh {
        &::before {
            content: 'R';
        }
    }

    &__search {
        &::before {
            content: 'S';
        }
    }

    &__account-circle {
        &::before {
            content: 'T';
        }
    }

    &__calendar {
        &::before {
            content: 'U';
        }
    }

    &__download {
        &::before {
            content: 'V';
        }
    }

    &__list {
        &::before {
            content: 'W';
        }
    }

    &__people {
        &::before {
            content: 'X';
        }
    }

    &__info {
        &::before {
            content: 'Y';
        }
    }

    &__star-filled {
        &::before {
            content: 'Z';
        }
    }

    &__marker-with-dot {
        &::before {
            content: 'a';
        }
    }

    &__calendar-empty {
        &::before {
            content: 'b';
        }
    }

    &__filter {
        &::before {
            content: 'd';
        }
    }

    &__chevron-double {
        &::before {
            content: 'e';
        }
    }

    &__download-with-box {
        &::before {
            content: 'f';
        }
    }

    &__eye {
        &::before {
            content: 'g';
        }
    }

    &__resize-text {
        &::before {
            content: 'h';
        }
    }

    &__calendar-arrow {
        &::before {
            content: 'i';
        }
    }
}
