.ris-i {
    box-sizing: content-box;
    display: inline-block;
    font-family: $ff-ris-font-icons;
    margin: 0;
    padding: 0;
    speak: none;

    &_has-bg {
        background-color: $c-gray4;
        border-radius: 50%;
        display: inline-block;
        line-height: 1;
        padding: 7px;
    }

    &_calendar-empty {
        &::before {
            content: 'b';
        }
    }

    &_add {
        &::before {
            content: 'A';
        }
    }

    &_apps {
        &::before {
            content: 'B';
        }
    }

    &_arrow-drop-down {
        &::before {
            content: 'C';
        }
    }

    &_arrow-drop-up {
        &::before {
            content: 'D';
        }
    }

    &_arrow-forward {
        &::before {
            content: 'E';
        }
    }

    &_back {
        &::before {
            content: 'F';
        }
    }

    &_check {
        &::before {
            content: 'G';
        }
    }

    &_chevron-left {
        &::before {
            content: 'H';
        }
    }

    &_chevron-right {
        &::before {
            content: 'I';
        }
    }

    &_close {
        &::before {
            content: 'J';
        }
    }

    &_expand-less {
        &::before {
            content: 'K';
        }
    }

    &_expand-more {
        &::before {
            content: 'L';
        }
    }

    &_favorite {
        &::before {
            content: 'M';
        }
    }

    &_fullscreen-exit {
        &::before {
            content: 'N';
        }
    }

    &_fullscreen {
        &::before {
            content: 'O';
        }
    }

    &_menu {
        &::before {
            content: 'P';
        }
    }

    &_more {
        &::before {
            content: 'Q';
        }
    }

    &_refresh {
        &::before {
            content: 'R';
        }
    }

    &_search {
        &::before {
            content: 'S';
        }
    }

    &_account-circle {
        &::before {
            content: 'T';
        }
    }

    &_calendar {
        &::before {
            content: 'U';
        }
    }

    &_download {
        &::before {
            content: 'V';
        }
    }

    &_list {
        &::before {
            content: 'W';
        }
    }

    &_people {
        &::before {
            content: 'X';
        }
    }

    &_info {
        &::before {
            content: 'Y';
        }
    }

    &_star-filled {
        &::before {
            content: 'Z';
        }
    }

    &_marker-with-dot {
        &::before {
            content: 'a';
        }
    }

    &_house {
        &::before {
            content: 'c';
        }
    }

    &_filter {
        &::before {
            content: 'd';
        }
    }

    &_chevron-double {
        &::before {
            content: 'e';
        }
    }

    &_download-with-box {
        &::before {
            content: 'f';
        }
    }

    &_eye {
        &::before {
            content: 'g';
        }
    }

    &_resize-text {
        &::before {
            content: 'h';
        }
    }

    &_calendar-arrow {
        &::before {
            content: 'i';
        }
    }

    &_notice-box {
        &::before {
            content: 'k';
        }
    }

    &_doc {
        &::before {
            content: 'j';
        }
    }

    &_squares-in-square {
        &::before {
            content: 'l';
        }
    }
}
