.ris-calendar {
    &__headline {
        border-bottom: 1px solid $c-gray7;

        @include breakpoint($bp-mobile-max) {
            font-size: $fs-xxxl;
            line-height: $lh-xxl;
            padding: $indent-m;
        }

        @include breakpoint($bp-tablet-min) {
            font-size: $fs-xxxxl;
            line-height: $lh-xxl;
            padding: $indent-ml;
        }
    }

    &__flex-wrapper {
        @include breakpoint($bp-tablet-min) {
            display: flex;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &__card-list {
        padding: $indent-sm $indent-m;

        &-wrapper {
            flex-grow: 1;
        }

        &-ris-subheader {
            color: $c-secondary;
            font-size: $fs-l;
            line-height: $lh-l;
            margin-left: 64px;

            &:first-child {
                margin-top: $indent-sm;
            }
        }
    }

    &__card-day {
        display: flex;
        justify-content: space-between;

        &-left {
            font-family: $ff-helvetica;
            font-size: $fs-xxxl;
            font-weight: bold;
            line-height: $lh-xl;
            min-width: 48px;
            padding-top: $indent-s;
        }

        &-right {
            flex-grow: 1;
        }

        &-of-week {
            font-size: $fs-l;
            line-height: $lh-l;
        }
    }

    &__card {
        background-color: $c-white;
        border-radius: $b-radius-primary;
        box-shadow: 0 1px 6px 0 $c-box-shadow;
        box-sizing: border-box;
        display: block;
        padding: $indent-m;

        &:not(:last-child) {
            margin-bottom: $indent-m;
        }

        .ris-title {
            font-size: $fs-l;
            line-height: $lh-l;
            word-break: break-word;
        }

        .ris-subheader {
            display: inline-flex;
            font-size: $fs-l;
            line-height: $lh-l;
            margin-bottom: 8px;
        }
    }

    .ris-session-count {
        color: $c-secondary;
        display: flex;
        font-family: $ff-helvetica;
        font-size: $fs-l;
        line-height: $lh-l;

        &__agenda {
            align-items: center;
            display: flex;

            .ris-i {
                font-size: $fs-xxxl;
                padding-left: $indent-s;
            }
        }

        &__people {
            align-items: center;
            display: flex;
            margin-left: 20px;

            .ris-i {
                font-size: $fs-xxl;
                padding-left: $indent-s;
            }
        }

        &__file {
            align-items: center;
            display: flex;
            margin-left: 20px;

            .ris-i {
                font-size: $fs-xll;
                padding-left: $indent-s;
            }
        }
    }
}
