.ris-meeting {
    .ris-section-wrapper {
        @include breakpoint($bp-tablet-min) {
            border-bottom: 0;
            margin-bottom: 0;
        }

        &.ris-tab {
            @include breakpoint($bp-mobile-max) {
                border-bottom: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    .ris-meeting__headline {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .ris-tab-data-overview {
        @include breakpoint($bp-mobile-max) {
            border-bottom: 0;
            padding-bottom: 0;
        }
    }

    .ris-tab-data-member {
        @include breakpoint($bp-mobile-max) {
            border-bottom: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;

            .ris-ul,
            .ris-h3__headline {
                padding-left: $indent-m;
                padding-right: $indent-m;
            }
        }
    }

    .ris-h2 {
        display: inline-block;
        font-weight: normal;
        font-size: $fs-l;
        margin-bottom: 0;
        margin-top: 0;
    }

    .ris-caption {
        &__top {
            @include breakpoint($bp-mobile-max) {
                margin-bottom: $indent-s;
                margin-top: $indent-s;
            }

            @include breakpoint($bp-tablet-min) {
                margin-bottom: $indent-m;
                margin-top: $indent-m;
            }
        }
    }

    .ris-select {
        margin-left: 0;

        @include breakpoint($bp-mobile-max) {
            width: calc(100% - #{$indent-m} * 2);
            margin-left: $indent-m;
            margin-right: $indent-m;
        }

        @include breakpoint($bp-tablet-min) {
            width: 100%;
        }
    }

    .ris-link_right {
        margin-left: auto;
    }

    .ris-ul {
        margin-top: 0;
    }

    .ris-body-2 {
        margin-bottom: $indent-m;

        &__headline {
            font-weight: bold;

            @include breakpoint($bp-mobile-max) {
                font-size: $fs-xll;
                line-height: $lh-l;
            }

            @include breakpoint($bp-tablet-min) {
                flex-basis: 30%;
            }

            .ris-i {
                margin-right: $indent-m;
                font-size: $fs-xl;

                @include breakpoint($bp-mobile-max) {
                    display: none;
                }
            }
        }

        &__content {
            .ris-i {
                margin-left: $indent-m;
                color: $c-secondary;
            }

            @include breakpoint($bp-mobile-max) {
                align-items: center;
                display: flex;
                justify-content: space-between;
            }

            @include breakpoint($bp-tablet-min) {
                .ris-i_calendar,
                .ris-i_marker-with-dot,
                .ris-i_squares-in-square {
                    display: none;
                }
            }
        }
    }

    .ris-document {
        align-items: center;
        color: $c-primary;
        display: flex;
        justify-content: space-between;
        margin-bottom: $indent-sm;

        &:not(:first-child) {
            margin-top: $indent-sm;
        }

        &:hover {
            color: $c-red;

            .ris-i_download-with-box {
                color: $c-red;
            }
        }

        &-list {
            display: block;
            flex-grow: 1;
        }

        .ris-text {
            flex-grow: 1;
            text-transform: capitalize;
        }

        .ris-i_download {
            color: $c-red;

            &:first-child {
                margin-left: 0;
                margin-right: $indent-m;
            }
        }
    }

    .ris-tab-data {
        display: none;

        @include breakpoint($bp-mobile-max) {
            padding-left: 0;
            padding-right: 0;
        }

        &_active {
            display: block;
        }
    }

    .ris-overview {
        display: flex;

        @include breakpoint($bp-mobile-max) {
            flex-direction: column;
            padding-left: $indent-m;
            padding-right: $indent-m;

            &:not(:last-child) {
                border-bottom: 1px solid $c-gray7;
                margin-bottom: $indent-m;
            }
        }
    }

    .ris-member {
        border-bottom: 1px solid $c-gray7;

        &:first-child {
            @include breakpoint($bp-tablet-min) {
                border-top: 1px solid $c-gray7;
            }
        }

        &-list {
            .ris-h3__headline {
                line-height: $lh-xxl;

                @include breakpoint($bp-tablet-min) {
                    font-size: $fs-xxl;
                    margin-top: $indent-xl;
                }

                @include breakpoint($bp-mobile-max) {
                    margin-top: $indent-ml;
                    background-color: $c-white2;
                }
            }

            &_empty {
                margin-top: $indent-s;
                margin-bottom: $indent-s;

                @include breakpoint($bp-mobile-max) {
                    padding-left: $indent-m;
                    padding-right: $indent-m;
                }
            }
        }

        &-link {
            padding-right: 0;
        }
    }
}
