.ris-meeting {
    &__headline {
        margin-bottom: $indent-m;
    }

    .ris-h2 {
        display: inline-block;
        font-weight: normal;
        font-size: $fs-l;
        margin-bottom: 0;
        margin-top: 0;
    }

    .ris-caption {
        &__top {
            @include breakpoint($bp-mobile-max) {
                margin-bottom: $indent-s;
                margin-top: $indent-s;
            }

            @include breakpoint($bp-tablet-min) {
                margin-bottom: $indent-m;
                margin-top: $indent-m;
            }
        }
    }

    .ris-overview,
    .ris-agenda,
    .ris-participant {
        padding-top: $indent-l;
    }

    .ris-tab-data {
        display: none;

        &_active {
            display: block;
        }
    }

    .ris-flex {
        display: flex;

        @include breakpoint($bp-mobile-max) {
            flex-direction: column;
            margin-bottom: $indent-m;
        }
    }

    .ris-body-2 {
        margin-bottom: $indent-m;

        &__headline {
            font-weight: bold;

            @include breakpoint($bp-tablet-min) {
                flex-basis: 30%;
            }

            .ris-i {
                margin-right: $indent-m;

                @include breakpoint($bp-mobile-max) {
                    display: none;
                }
            }
        }

        &__content {
            .ris-i {
                margin-left: $indent-m;
            }

            @include breakpoint($bp-mobile-max) {
                display: flex;
                justify-content: space-between;
            }

            @include breakpoint($bp-tablet-min) {
                .ris-i_calendar,
                .ris-i_marker-with-dot,
                .ris-i_squares-in-square {
                    display: none;
                }
            }
        }
    }

    .ris-document-list {
        display: block;
        flex-grow: 1;
    }

    .ris-document {
        align-items: center;
        color: $c-primary;
        display: flex;
        justify-content: space-between;
        margin-bottom: $indent-sm;
        margin-top: $indent-sm;

        &:hover {
            color: $c-red;

            .ris-i_download-with-box {
                color: $c-red;
            }
        }

        .ris-i_download {
            color: $c-red;
        }

        .ris-i_download-with-box {
            color: $c-secondary;
        }

        .ris-text {
            flex-grow: 1;
            text-transform: capitalize;
        }

        .ris-i_download {
            &:first-child {
                margin-left: 0;
                margin-right: $indent-m;
            }
        }
    }
}
