.ris-theme {
    &__text {
        -webkit-box-orient: vertical;
        display: -webkit-box;
        line-height: $lh-l;
        overflow: hidden;

        @include breakpoint($bp-tablet-min) {
            -webkit-line-clamp: 20;
            max-height: $lh-l * 20;
        }

        @include breakpoint($bp-mobile-max) {
            -webkit-line-clamp: 40;
            max-height: $lh-l * 40;
        }
    }

    .ris-section-wrapper {
        &:last-child {
            border-bottom: 0;
        }

        &_full {
            padding-left: 0;
            padding-right: 0;

            @include breakpoint($bp-tablet-min) {
                padding-top: $indent-s;
            }

            .ris-headline,
            .ris-caption {
                @include breakpoint($bp-mobile-max) {
                    padding-left: $indent-m;
                    padding-right: $indent-m;
                }
            }
        }
    }

    .ris-title {
        font-size: $fs-l;
        line-height: $lh-m;
        margin-bottom: $indent-s;
    }

    .ris-h2 {
        margin-bottom: $indent-m;
    }

    .ris-img-wrapper {
        margin-left: auto;
        margin-right: auto;
        max-width: $width-section-1024;
        width: 100%;

        &:not(:last-child) {
            margin-bottom: $indent-m;
        }

        .ris-link {
            width: 100%;
        }

        .ris-img {
            width: 100%;
        }
    }

    .ris-caption {
        margin-top: $indent-s;

        &:not(:last-child) {
            margin-bottom: $indent-s;
        }
    }

    .ris-map-detail {
        @include breakpoint($bp-tablet-min) {
            display: flex;
            justify-content: space-between;
        }

        .ris-img {
            border-radius: $b-radius-primary;
        }

        .ris-link {
            @include breakpoint($bp-tablet-min) {
                width: $width-interactive-tablet;
            }
        }
    }

    .ris-map-all-street-address {
        display: flex;

        @include breakpoint($bp-mobile-max) {
            margin-bottom: $indent-m;
        }

        .ris-i_marker-with-dot {
            color: $c-secondary;
            font-size: $fs-xl;
            margin-right: $indent-sm;
        }
    }

    .ris-action-box {
        margin-bottom: $indent-m;

        @include breakpoint($bp-mobile-max) {
            flex-direction: column;
        }

        @include breakpoint($bp-tablet-min) {
            align-items: center;
            justify-content: space-between;
        }

        .ris-title {
            margin-bottom: 0;

            @include breakpoint($bp-mobile-max) {
                margin-bottom: $indent-m;
            }
        }
    }

    .ris-document {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: $indent-sm;
        margin-top: $indent-sm;

        &:hover {
            &::after {
                color: $c-red;
            }
        }

        .ris-i_download-with-box {
            font-size: $fs-xl;
            margin-left: $indent-sm;
        }

        &-many,
        &-one {
            .ris-icon-wrapper {
                align-items: center;
                display: flex;
                height: 48px;
                justify-content: center;
                margin-right: $indent-m;
                min-width: 48px;
                width: 48px;
            }
        }

        .ris-text-wrapper {
            flex-grow: 1;
        }
    }

    .ris-process {
        &__detail,
        &__agendum {
            &:not(:last-child) {
                @include breakpoint($bp-mobile-max) {
                    padding-bottom: $indent-l;
                }

                @include breakpoint($bp-tablet-min) {
                    padding-bottom: $indent-xl;
                }
            }
        }

        &__item {
            margin-left: $indent-s;
            position: relative;

            @include breakpoint($bp-mobile-max) {
                padding-left: $indent-ml;
            }

            @include breakpoint($bp-tablet-min) {
                padding-left: $indent-l;
            }

            &:not(:last-child) {
                border-left: 2px solid $c-red;
            }

            .ris-i_check {
                background-color: $c-red;
                color: $c-white;
                font-size: $fs-s;
                height: 12px;
                left: -10px;
                padding: 4px;
                position: absolute;
                width: 12px;
            }
        }

        &__wrapper {
            display: flex;

            @include breakpoint($bp-mobile-max) {
                flex-direction: column;
            }

            @include breakpoint($bp-tablet-min) {
                align-items: center;
                justify-content: space-between;
            }
        }

        &__date {
            &.ris-body-2 {
                margin-bottom: $indent-s;
            }
        }

        &__text {
            -webkit-box-orient: vertical;
            display: -webkit-box;
            line-height: $lh-l;
            overflow: hidden;

            @include breakpoint($bp-tablet-min) {
                -webkit-line-clamp: 10;
                max-height: $lh-l * 10;
            }

            @include breakpoint($bp-mobile-max) {
                -webkit-line-clamp: 20;
                max-height: $lh-l * 20;
            }

            &.ris-body-2 {
                margin-bottom: $indent-m;
            }
        }

        .ris-h3 {
            margin-bottom: $indent-s;
        }

        .ris-caption {
            margin-bottom: 0;
            margin-top: 0;
        }

        .ris-link {
            @include breakpoint($bp-mobile-max) {
                margin-top: $indent-s;
            }

            @include breakpoint($bp-tablet-min) {
                width: $width-interactive-tablet;
            }
        }
    }

    .ris-select {
        @include breakpoint($bp-mobile-max) {
            margin-left: 0;
        }

        @include breakpoint($bp-tablet-min) {
            min-width: $width-interactive-tablet;
        }
    }
}
