.ris-theme-overview {

    .ris-section-wrapper {
        border-bottom: 0;
        padding-bottom: 0;
    }

    .swiper-container {
        @include breakpoint($bp-mobile-max) {
            padding-right: $indent-m;
        }
    }
}
