.ris-welcome {
    display: flex;

    .ris-headline {
        margin-bottom: $indent-m;
    }

    &__content {
        @include breakpoint($bp-mobile-max) {
            padding: $indent-ml $indent-m;
        }

        @include breakpoint($bp-tablet-min) {
            flex-grow: 1;
            padding: $indent-xl $indent-ml;
        }

        .ris-hint-box {
            .ris-subheader {
                @include breakpoint($bp-mobile-max) {
                    margin-bottom: $indent-m;
                }

                @include breakpoint($bp-tablet-min) {
                    max-width: 270px;
                }
            }
        }
    }

    .ris-map {
        margin-bottom: 20px;
        z-index: 1;

        @include breakpoint($bp-mobile-max) {
            height: 30vh;

            &__desktop {
                display: none;
            }
        }

        @include breakpoint($bp-tablet-min) {
            height: 644px;
            width: 320px;

            &__mobile {
                display: none;
            }
        }
    }
}
