.ris-welcome {
    $base: &;

    display: flex;

    .ris-headline {
        margin-bottom: $indent-m;

        @include breakpoint($bp-tablet-min) {
            margin-top: $indent-m;
        }
    }

    .ris-section-wrapper {
        &:first-child {
            padding-top: $indent-ml;
        }

        &:last-child {
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }

        .ris-title {
            margin-bottom: $indent-s;
        }

        .ris-subheader {
            margin-bottom: $indent-m;
        }
    }

    &__content {
        @include breakpoint($bp-tablet-min) {
            box-shadow: 8px 5px 6px 0 $c-box-shadow3;
            flex-basis: calc(100% - #{$aside-width});
            position: relative;
            z-index: 2;

            &_padding {
                padding-right: $indent-ml;
            }
        }
    }

    &__widget {
        @include breakpoint($bp-tablet-min) {
            flex-basis: $aside-width;
        }
    }

    &__people-wrapper {
        > .ris-body-2 {
            font-weight: bold;
            margin-bottom: $indent-s;
        }

        #{$base}__people-list {
            display: flex;

            @include breakpoint($bp-mobile-max) {
                flex-direction: column;
            }

            @include breakpoint($bp-tablet-min) {
                flex-wrap: wrap;
            }
        }

        #{$base}__people {
            border-radius: $b-radius-primary;
            box-shadow: 0 1px 6px 0 $c-box-shadow3;
            margin-bottom: $indent-m;
            text-decoration: none;

            &:hover {
                box-shadow: 0 1px 3px 0 $c-box-shadow3;

                .ris-body-1 {
                    color: $c-red;
                }
            }

            @include breakpoint($bp-mobile-max) {
                align-items: center;
                display: flex;
                min-height: 80px;

                &:not(:last-child) {
                    margin-bottom: $indent-m;
                }
            }

            @include breakpoint($bp-tablet-min) {
                overflow: hidden;
                width: 120px;

                &:not(:last-child) {
                    margin-right: $indent-m;
                }
            }

            &-img {
                object-fit: cover;

                @include breakpoint($bp-mobile-max) {
                    border-radius: $b-radius-primary 0 0 $b-radius-primary;
                    height: 80px;
                    max-width: 80px;
                }

                @include breakpoint($bp-tablet-min) {
                    border-radius: $b-radius-primary $b-radius-primary 0 0;
                    height: 100px;
                    width: 100%;
                }
            }

            .ris-body-1 {
                color: $c-primary;
                font-family: $ff-helvetica;
                font-size: $fs-l;
                line-height: $lh-l;

                @include breakpoint($bp-mobile-max) {
                    padding-left: $indent-m;
                    padding-right: $indent-m;
                }

                @include breakpoint($bp-tablet-min) {
                    padding-left: $indent-s;
                    padding-right: $indent-s;
                    padding-top: $indent-s;
                    width: 50%;
                }
            }

            .ris-caption {
                @include breakpoint($bp-mobile-max) {
                    padding-left: $indent-m;
                    padding-right: $indent-m;
                }

                @include breakpoint($bp-tablet-min) {
                    padding-bottom: $indent-s;
                    padding-left: $indent-s;
                    padding-right: $indent-s;
                }
            }
        }
    }

    .ris-filter-buttons {
        margin-left: 0;
        margin-right: 0;

        @include breakpoint($bp-tablet-min) {
            margin-top: $indent-ml;
        }

        @include breakpoint($bp-mobile-max) {
            margin-top: $indent-m;
        }

        .ris-button {
            color: $c-gray2;
            font-weight: 500;
            margin-bottom: $indent-s;
            margin-right: $indent-s;
            min-width: auto;
            padding: $indent-s $indent-sm;

            &:hover {
                color: $c-gray2;
            }
        }
    }

    &-map {
        align-items: center;
        display: flex;
        justify-content: center;
        opacity: .8;
        text-decoration: none;
        z-index: 1;

        @include breakpoint($bp-mobile-max) {
            border-radius: $b-radius-primary;
            box-shadow: 0 2px 4px 0 $c-box-shadow2;
            height: 30vh;
            position: relative;
            width: 100%;

            &__desktop {
                display: none;
            }

            &__img {
                height: 30vh;
                left: 0;
                object-fit: cover;
                position: absolute;
                top: 0;
                width: 100%;
            }
        }

        @include breakpoint($bp-tablet-min) {
            height: 100%;
            position: fixed;
            top: 0;
            width: $aside-width;

            &__mobile {
                display: none;
            }

            &__img {
                height: 100%;
                object-fit: cover;
                position: absolute;
                right: 0;
                top: 0;
                width: $aside-width;
            }
        }

        &:hover {
            .ris-button {
                opacity: .7;
            }
        }

        .ris-button {
            font-weight: 500;
            line-height: $lh-m;
            opacity: .8;
            z-index: 2;

            @include breakpoint($bp-tablet-min) {
                height: 20px;
            }
        }
    }
}
