$button-min-width: 48px;

.ris-button {
    border: 0;
    border-radius: $b-radius-primary;
    cursor: pointer;
    font-family: $ff-helvetica-neue;
    font-size: $fs-l;
    font-weight: 600;
    line-height: $lh-l;
    min-width: 174px;
    outline: none;
    padding-bottom: $indent-m;
    padding-top: $indent-m;
    position: relative;
    text-align: center;

    &:hover {
        opacity: .9;
    }

    &_primary {
        background-color: $c-red;
        color: $c-white;
    }

    &_secondary {
        background-color: $c-white;
        color: $c-gray2;
    }

    &_full {
        width: 100%;
    }

    &_has-border {
        border: 1px solid $c-gray3;
    }

    &_has-shadow {
        box-shadow: 0 1px 6px 0 $c-box-shadow3;

        &:hover {
            box-shadow: 0 1px 3px 0 $c-box-shadow3;
        }
    }

    &_red3 {
        color: $c-red3;
    }

    &_blue2 {
        color: $c-blue2;
    }

    &_bg-gray4 {
        background-color: $c-gray4;
    }

    &_bg-gray2 {
        background-color: $c-gray2;
    }
}
