.ris-card-list {
    border-bottom: 1px solid $c-gray7;

    @include breakpoint($bp-mobile-max) {
        padding: $indent-ml $indent-m;
    }

    @include breakpoint($bp-tablet-min) {
        margin-left: $indent-ml;
        margin-right: $indent-ml;
        padding-bottom: $indent-xl;
        padding-top: $indent-xl;
    }

    &__item {
        border-radius: $b-radius-primary;
        box-shadow: 0 1px 6px 0 $c-box-shadow3;
        margin-bottom: $indent-m;
        padding: $indent-m;

        .ris-link {
            color: $c-primary;
            font-family: $ff-helvetica;
            font-weight: bold;
            overflow: hidden;

            @include breakpoint($bp-mobile-max) {
                max-height: $lh-l * 3;
            }

            @include breakpoint($bp-tablet-min) {
                max-height: $lh-l * 2;
            }
        }
    }

    .ris-title {
        margin-bottom: $indent-ml;
    }
}
