.ris-filter {
    $base: ris-filter;

    border: $border;
    border-radius: $b-radius-primary;
    display: inline-block;
    min-width: 288px;
    position: relative;

    &_has-indent {
        padding: $indent-m;

        .#{$base}__title,
        .#{$base}__subheader {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__subheader {
        padding: $indent-m;

        &_has-icon {
            &::after {
                color: $c-gray2;
                content: 'L';
                display: inline-block;
                font-family: $ff-ris-font-icons;
                font-size: $fs-s;
                height: 16px;
                line-height: $lh-s;
                margin: 0;
                padding: 0;
                pointer-events: none;
                position: absolute;
                right: $indent-m;
                speak: none;
                top: $indent-m;
                width: 16px;
            }

            .#{$base}__subheader {
                padding-right: $indent-l;
            }
        }
    }

    &__title {
        border-bottom: $border;
        padding-bottom: $indent-xxl;
        padding-left: $indent-m;
        padding-right: $indent-m;
        width: 100%;

        &:not(:last-child) {
            margin-bottom: $indent-l;
        }
    }

    &_active {
        .#{$base}__delimiter {
            display: block;
        }
    }

    &__delimiter {
        border: 0;
        border-bottom: $border;
        display: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    &__content {
        margin: $indent-m;
    }

    .ris-label {
        display: block;
        margin-bottom: $indent-m;
    }
}
