.ris-filter {
    $base: &;

    border: $border;
    border-radius: $b-radius-primary;
    display: inline-block;
    position: relative;

    @include breakpoint($bp-mobile-max) {
        margin-right: $indent-s;
        min-width: 42vw;
    }

    @include breakpoint($bp-tablet-min) {
        margin-right: $indent-sm;
        min-width: $width-interactive-tablet;
    }

    &_has-indent {
        padding: $indent-m;

        #{$base}__title,
        #{$base}__subheader {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__subheader {
        color: $c-gray2;
        display: flex;
        padding: $indent-sm;

        &:hover {
            cursor: pointer;
        }

        .ris-i_expand-more {
            margin-left: auto;
            padding-left: $indent-l;
            pointer-events: none;
        }

        .ris-i_filter {
            font-size: $fs-xl;
            margin-right: $indent-sm;
        }
    }

    &__title {
        border-bottom: $border;
        padding-bottom: $indent-xxl;
        padding-left: $indent-m;
        padding-right: $indent-m;
        width: 100%;

        &:not(:last-child) {
            margin-bottom: $indent-l;
        }
    }

    &_active {
        #{$base}__content {
            display: flex;
        }

        .ris-i_filter {
            transform: rotate(180deg);
        }
    }

    &__content {
        background: $c-white;
        border-radius: $b-radius-primary;
        bottom: auto;
        box-shadow: 0 1px 6px 0 $c-box-shadow2;
        display: none;
        flex-direction: column;
        overflow: hidden;
        padding-bottom: $indent-m;
        padding-top: $indent-m;
        position: absolute;
        right: auto;
        top: calc(100% + 15px);
        transform: translateX(-50%);
        z-index: 101;

        @include breakpoint($bp-mobile-max) {
            left: 100%;
            width: calc(100vw - #{$indent-m * 2});
        }

        @include breakpoint($bp-tablet-min) {
            left: 50%;
            width: 100%;
        }

        #{$base}-buttons__title {
            font-weight: normal;
            line-height: 32px;
            margin-bottom: $indent-m;
        }
    }

    .ris-label {
        display: inline-flex;
        margin-bottom: $indent-s;

        &:not(:last-child) {
            margin-right: $indent-s;
        }
    }

    &-buttons {
        margin-left: $indent-m;
        margin-right: $indent-m;

        &:not(:last-child) {
            border-bottom: 1px solid $c-gray7;
        }

        &__title {
            color: $c-primary;
            font-family: $ff-helvetica;
            font-size: $fs-l;
            font-weight: bold;
            line-height: $lh-l;
            margin-bottom: $indent-s;
        }

        &__selected {
            display: none;
            margin-left: 0;
            margin-right: 0;
            padding-bottom: $indent-s;
            padding-left: $indent-m;
            padding-right: $indent-m;

            &_active {
                display: block;
            }
        }

        .ris-button {
            font-weight: 500;
            min-width: auto;
            padding: $indent-s $indent-sm;

            &:not(:last-child) {
                margin-bottom: $indent-s;
                margin-right: $indent-s;
            }
        }
    }
}
