$header-top-height: 48px;
$header-bottom-height: 64px;
$header-height-mobi: 92px;

.ris-global-search {
    $this: &;

    align-self: center;
    flex-grow: 1;
    position: relative;

    @include breakpoint($bp-mobile-max) {
        position: static;
    }

    &__result-title {
        color: $c-gray8;
        font-size: $fs-l;
        font-weight: 400;
        margin: $indent-l 0 $indent-m;
        padding-left: $indent-ml;
    }

    &-navigation {
        border-bottom: 1px solid $c-gray7;
        display: flex;
        margin: 0 0 $indent-m;
        padding-left: $indent-ml;

        @include breakpoint($bp-mobile-max) {
            padding-left: $indent-m;
        }

        &__button {
            background-color: transparent;
            border: 0;
            border-bottom: 3px solid transparent;
            font-size: $fs-l;
            outline: none;

            &.isActive {
                border-color: $c-red;
                color: $c-red;
                font-weight: bold;
            }
        }
    }

    &-wrapper {
        background-color: $c-white;
        font-size: $fs-s;
        left: 0;
        max-height: calc(100vh - #{$header-bottom-height} - #{$header-top-height});
        overflow-y: scroll;
        position: absolute;
        right: 0;
        z-index: $zi-global-search-wrapper;

        @include breakpoint($bp-mobile-max) {
            height: 100%;
            max-height: calc(100vh - #{$header-height-mobi});
            top: $header-height-mobi;
        }
    }

    &-autocomplete {
        &__title {
            font-size: $fs-l;
            margin: $indent-l 0 $indent-m;
            padding-left: $indent-ml;

            @include breakpoint($bp-mobile-max) {
                margin: $indent-m 0;
            }
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            margin: 0;
            padding: 0 20px 0 $indent-ml;

            @include breakpoint($bp-mobile-max) {
                padding: 0 $indent-m;
            }
        }

        &__item {
            margin: 0 $indent-s $indent-s 0;
        }

        &__button {
            background-color: $c-white;
            border: 0;
            border-radius: $b-radius-primary;
            box-shadow: 0 1px 6px 0 $c-box-shadow3;
            color: $c-gray2;
            cursor: pointer;
            font-size: $fs-l;
            font-weight: 500;
            padding: $indent-s $indent-sm;
        }
    }

    &__background {
        background-color: $c-dark-disabled;
        height: 100vh;
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: $zi-global-search-bg;

        @include breakpoint($bp-mobile-max) {
            display: none;
        }
    }

    &-input {
        align-items: center;
        background: $c-white;
        display: flex;
        font-weight: bold;
        height: 64px;
        padding-left: $indent-m;
        transition: padding-left ease-in-out .1s;
        z-index: $zi-global-search-input;

        &.focused {
            box-shadow: 0 1px 6px 0 $c-box-shadow2;
            padding-left: 0;
            transition: padding-left ease-in-out .1s;

            @include breakpoint($bp-mobile-max) {
                box-shadow: none;
            }
        }

        &__item {
            &.focused {
                background: $c-white;
                border-color: transparent;
                box-shadow: none;
                margin-left: 0;
                width: 100%;

                & ~ .ris-search__button {
                    margin-left: 0;
                }
            }
        }
    }

    &-content {
        display: flex;
        flex-direction: column;
        margin: 0 0 $indent-l;
        padding: 0 $indent-ml;

        @include breakpoint($bp-mobile-max) {
            padding: 0 $indent-m;
        }

        &__title {
            font-size: $fs-xxl;
            margin: $indent-s 0;
        }

        &__list {
            display: flex;

            .ris-load-element {
                width: 100%;
            }
        }

        &__theme {
            flex-direction: column;
        }

        &__person {
            flex-wrap: wrap;

            #{$this}-content__item {
                margin: 0 $indent-m $indent-m 0;

                @include breakpoint($bp-mobile-max) {
                    margin: 0 0 $indent-m;
                }
            }
        }

        &__map {
            flex-wrap: wrap;

            #{$this}-content__item {
                margin: 0 $indent-m $indent-m 0;
                @include breakpoint($bp-mobile-max) {
                    margin: 0 0 $indent-m;
                }
            }
        }

        &__item {
            margin-bottom: $indent-m;

            @include breakpoint($bp-mobile-max) {
                width: 100%;
            }
        }

        &__button {
            border: 0;
        }
    }

    &-placeholder {
        background-color: $c-white2;
        margin: $indent-ml;
        padding: 47px $indent-ml 50px;
        text-align: center;

        @include breakpoint($bp-mobile-max) {
            margin: 0;
            padding: $indent-ml $indent-m;
            text-align: left;
        }

        &__title {
            font-size: $fs-xxxl;
            margin-bottom: $indent-xl;

            @include breakpoint($bp-mobile-max) {
                font-size: $fs-xll;
                margin-bottom: $indent-m;
            }
        }

        &__info {
            color: $c-gray6;
            font-size: $fs-l;
        }
    }
}

.ris-selection {
    background: $c-orange2;
    border-radius: $b-radius-primary;
}
