.ris-global-search {
    $this: &;
    width: 100%;
    align-self: center;
    position: relative;
    &__result-title {
        padding-left: 25px;
        margin: 32px 0 16px 0;
        color: #8C8C8C;
        font-size: 16px;
        font-weight: 400;
    }
    &-navigation {
        display: flex;
        padding-left: 25px;
        margin: 0;
        border-bottom: 1px solid #ccc;
        &__button {
            border: 0;
            font-size: 16px;
            background-color: transparent;
            border-bottom: 3px solid transparent;
            outline: none;
            &.isActive {
                color: $c-red;
                font-weight: bold;
                border-color: $c-red;
            }
        }
    }
    &-input {
        z-index: 7;
        height: 64px;
        display: flex;
        align-items: center;
        background: white;
    }
    &-content {
        font-size: 10px;
        background-color: white;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 6;
    }
    &-autocomplete {
        &__title {
            font-size: 16px;
            margin: 32px 0 16px 0;
            padding-left: 25px;
            @media screen and (max-width: 767px) {
                margin: 16px 0;
            }
        }
        &__list {
            margin: 0;
            list-style-type: none;
            display: flex;
            padding: 0 20px 0 25px;
            flex-wrap: wrap;
            @media screen and (max-width: 767px) {
                padding: 0 17px;
            }
        }
        &__item {
            margin: 0 8px 8px 0;
        }
        &__button {
            padding: 8px 12px;
            font-weight: 500;
            border-radius: 4px;
            border: 0;
            cursor: pointer;
            font-size: 16px;
            box-shadow: 0 1px 6px 0 rgba(33, 33, 33, 0.24);
            color: #545458;
            background-color: #fff;
        }
    }
    &__background {
        background-color: rgba(0,0,0, .4);
        position: fixed;
        top: 0;
        height: 100vh;
        width: 100vw;
        z-index: 5;
    }
    &-input{
        transition: padding-left ease-in-out .1s;
        padding-left: 16px;
        font-weight: bold;
        &.focused {
            transition: padding-left ease-in-out .1s;
            padding-left: 0;
            box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
        }
        &__item {
            &.focused {
                & ~ .ris-search__button {
                    margin-left: 0;
                }
                margin-left: 0;
                border-color: transparent;
                background: white;
                width: 100%;
                box-shadow: none;
            }
        }
    }
}
