.ris-label {
    align-items: center;
    background-color: $c-gray4;
    border: 0;
    border-radius: $b-radius-secondary;
    color: $c-gray2;
    cursor: pointer;
    display: inline-flex;
    font-family: $ff-helvetica-neue;
    font-size: $fs-l;
    font-weight: 400;
    justify-content: center;
    line-height: $lh-l;
    outline: none;
    padding: $indent-s $indent-m;

    &::after {
        color: $c-gray2;
        content: 'J';
        display: inline-block;
        font-family: $ff-ris-font-icons;
        font-size: $fs-m;
        line-height: 1;
        margin: 0 0 0 $indent-m;
        padding: 0;
        pointer-events: none;
        speak: none;
    }

    &:hover {
        opacity: .9;
    }

    &_has-border {
        border: 1px solid $c-gray3;
    }

    &_has-shadow {
        box-shadow: 0 1px 6px 0 $c-box-shadow3;

        &:hover {
            box-shadow: 0 1px 3px 0 $c-box-shadow3;
        }
    }
}
