.ris-link {
    color: $c-link;
    cursor: pointer;
    display: inline-flex;
    font-family: $ff-helvetica-neue;
    font-size: $fs-l;
    line-height: $lh-l;
    text-decoration: none;

    &:hover {
        color: $c-red;

        .ris-img {
            opacity: .9;
        }
    }

    &_underline {
        color: $c-gray2;
        font-family: $ff-helvetica;
        font-size: $fs-m;
        line-height: $lh-l;
        text-decoration: underline;
    }

    &__secondary {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    &_right {
        display: flex;
        margin-left: auto;

        @include breakpoint($bp-mobile-max) {
            margin-left: 0;
        }
    }

    &_left {
        display: flex;
        margin-right: auto;

        @include breakpoint($bp-mobile-max) {
            margin-right: 0;
        }
    }

    &_button {
        background-color: $c-white2;
        border-radius: $b-radius-primary;
        font-weight: 500;
        padding: $indent-sm;

        @include breakpoint($bp-tablet-min) {
            width: 250px;
        }

        .ris-i_chevron-right,
        .ris-i_resize-text {
            font-size: $fs-m;
            margin-left: auto;
            padding-left: $indent-l;
            pointer-events: none;
        }
    }
}
