.ris-link {
    color: $c-link;
    cursor: pointer;
    display: inline-block;
    font-family: $ff-helvetica-neue;
    font-size: $fs-l;
    line-height: $lh-l;
    text-decoration: none;

    &:hover {
        color: $c-red;
    }

    &_underline {
        color: $c-gray2;
        font-family: $ff-helvetica;
        font-size: $fs-m;
        line-height: $lh-l;
        text-decoration: underline;
    }

    &__secondary {
        align-items: center;
        display: flex;
        justify-content: space-between;

        &::after {
            content: 'I';
            display: inline-block;
            font-family: $ff-ris-font-icons;
            font-size: $fs-m;
            height: 14px;
            line-height: 1;
            margin: 0;
            speak: none;
            width: 14px;
        }
    }

    &_has-icon {
        align-items: center;
        background-color: $c-white2;
        border-radius: $b-radius-primary;
        display: flex;
        font-weight: 500;
        justify-content: space-between;
        padding: $indent-sm;

        @include breakpoint($bp-tablet-min) {
            margin-left: auto;
            width: 224px;
        }

        &::after {
            content: 'I';
            display: inline-block;
            font-family: $ff-ris-font-icons;
            font-size: $fs-m;
            height: 14px;
            line-height: 1;
            margin: 0;
            padding: 0;
            speak: none;
            width: 14px;
        }
    }
}
