.ris-map-widget {
    display: flex;
    width: 320px;
    text-decoration: none;
    box-shadow: 0 1px 6px 0 $c-box-shadow3;
    @include breakpoint($bp-mobile-max) {
        width: 100%;
    }
    &__content {
        padding: $fs-l;
        width: 100%;
    }
    &__title,
    &__sub-title {
        font-size: $fs-l;
        color: $c-gray;
    }
}
