.ris-map-desktop-aside {
    height: calc(100vh - 112px);
    overflow-y: scroll;
    padding: 0 $indent-m;
    width: $aside-width;

    @include breakpoint($bp-tablet-max) {
        height: auto;
        padding: 0;
        width: 100%;
        z-index: $zi-map-aside;
    }

    &__nav {
        @include breakpoint($bp-tablet-max) {
            display: none;
        }

        &-btn {
            background-color: $c-white2;
            border: 0;
            color: $c-link;
            cursor: pointer;
            font-size: $fs-l;
            font-weight: bold;
            margin-bottom: $indent-ml;
            outline: none;
            padding: $indent-sm;
            text-align: left;
            width: 100%;

            @include breakpoint($bp-tablet-max) {
                display: none;
            }

            &_disable {
                opacity: .5;
            }

            .ris-i {
                margin-right: $indent-s;
            }
        }
    }

    &__heading {
        @include breakpoint($bp-tablet-max) {
            display: none;
        }
    }

    &__sub-heading {
        font-size: $fs-xll;
        margin-bottom: $indent-s;

        @include breakpoint($bp-tablet-max) {
            display: none;
        }
    }

    &-list {
        border-top-left-radius: $b-radius-primary;
        border-top-right-radius: $b-radius-primary;
        box-shadow: 0 1px 6px 0 $c-box-shadow2;
        list-style-type: none;
        margin: 0;
        max-height: 153px;
        overflow: hidden;
        padding: 0;
        transition: all .7s ease-in-out;

        &__item {
            border-bottom: 1px solid $c-gray7;
        }

        &__button {
            background-color: $c-light-primary;
            border: 0;
            border-radius: $b-radius-primary;
            font-size: $fs-l;
            font-weight: bold;
            outline: none;
            padding: $indent-m $indent-xl $indent-m $indent-m;
            position: relative;
            text-align: left;
            width: 100%;

            &:hover {
                background-color: $c-white2;
                cursor: pointer;
            }

            .ris-i_add {
                color: $c-secondary;
                left: calc(100% - #{$indent-xl});
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        &.isActive {
            max-height: none;
            transition: all .7s ease-in-out;
        }
    }

    &__control {
        background-color: $c-light-primary;
        border: 0;
        border-bottom-left-radius: $b-radius-primary;
        border-bottom-right-radius: $b-radius-primary;
        box-shadow: 0 1px 6px 0 $c-box-shadow2;
        color: $c-link;
        cursor: pointer;
        font-weight: 400;
        outline: none;
        padding: $indent-m 0;
        text-align: center;
        width: 100%;

        .ris-i_expand-more {
            font-size: $fs-m;
        }

        &.isActive {
            .ris-i_expand-more {
                transform: rotate(180deg) translateY(3px);
            }
        }
    }

    &__subtitle {
        margin: $indent-ml 0 $indent-sm;

        @include breakpoint($bp-tablet-max) {
            display: none;
        }
    }

    &__caption {
        color: $c-secondary;

        @include breakpoint($bp-tablet-max) {
            display: none;
        }
    }

    &-theme-list {
        $this: &;

        font-size: $fs-l;
        list-style-type: none;
        padding: 0;

        @include breakpoint($bp-tablet-max) {
            background-color: $c-light-primary;
            display: flex;
            margin: 0;
            overflow-x: scroll;
            overflow-y: hidden;
            padding: $indent-s 0;
            position: fixed;
            top: 100%;
            transform: translateY(-100%);
            width: 100%;
            z-index: $zi-map-aside-theme-list;
        }

        &__item {
            border: 2px solid transparent;
            border-radius: $b-radius-primary;
            box-shadow: 0 1px 6px 0 $c-box-shadow2;
            font-size: $fs-l;
            margin-bottom: $indent-m;
            padding: $indent-m;

            @include breakpoint($bp-tablet-max) {
                box-sizing: border-box;
                height: 90px;
                margin: 0 $indent-s 0 0;
                max-width: 150px;
                padding: $indent-s;

                &:first-child {
                    margin-left: $indent-s;
                }
            }

            &:hover {
                border-color: $c-gray;

                @include breakpoint($bp-tablet-max) {
                    #{$this}__heading,
                    #{$this}__btn {
                        font-weight: bold;
                    }
                }
            }

            &.ris-loading-handle {
                box-shadow: none;
                padding: 0;
            }
        }

        &__link {
            cursor: pointer;
            display: flex;
            text-decoration: none;
        }

        &__wrapper {
            width: 100%;

            @include breakpoint($bp-tablet-max) {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }

        &__info {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
        }

        &__refer {
            display: flex;
            justify-content: space-between;
            margin-right: 5px;
        }

        &__time,
        &__refer {
            color: $c-gray8;
        }

        &__refer,
        &__time {
            @include breakpoint($bp-tablet-max) {
                display: none;
            }
        }

        &__btn {
            background: transparent;
            color: $c-red2;
            display: none;
            font-weight: normal;
            min-width: auto;
            padding: 0;
            white-space: nowrap;

            @include breakpoint($bp-tablet-max) {
                display: block;
            }
        }

        &__img {
            flex-shrink: 0;
            height: 72px;
            margin-right: $indent-m;
            width: 72px;

            @include breakpoint($bp-tablet-max) {
                display: none;
            }
        }

        &__heading {
            color: $c-gray;
            display: block;
            font-size: $fs-l;
            hyphens: auto;
            margin: 0 0 $indent-m;
            word-break: break-word;

            @include breakpoint($bp-tablet-max) {
                font-weight: normal;
                hyphens: unset;
                max-height: 36px;
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: unset;
            }
        }
    }
}
