.ris-member {
    &-link {
        align-items: center;
        color: $c-gray;
        display: flex;
        padding: $indent-m $indent-xl $indent-m 0;
        position: relative;
        text-decoration: none;

        &:hover {
            .ris-member-link__heading {
                color: $c-red;
            }

            .ris-member-link__button {
                color: $c-red;
                transform: translate(2px, -50%);
                transition: all ease-in-out .1s;
            }
        }

        &__img {
            border-radius: 50%;
            height: 48px;
            margin-right: 16px;
            width: 48px;
        }

        &__button {
            background: none;
            border: 0;
            font-size: $fs-s;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: all ease-in-out .3s;
        }
    }
}
