.ris-sorting {
    display: flex;

    &__search {
        width: 472px;

        .ris-search__input {
            background-color: $c-white;
            box-shadow: none;
            height: 50px;
        }
    }

    &__select {
        @include breakpoint($bp-mobile-max) {
            margin-left: $indent-m;
        }
    }

    &__select,
    &__search {
        @include breakpoint($bp-mobile-max) {
            width: 50%;

            &.fullWidthMob {
                margin: 0;
                width: 100%;
            }
        }

        &.hiddenMob {
            @include breakpoint($bp-mobile-max) {
                display: none;
            }
        }
    }
}
