.ris-sorting {
    display: flex;

    &__search {
        width: 472px;

        .ris-search__input {
            background-color: $c-white;
            height: 50px;
            box-shadow: none;
        }
    }
    &__select {
        @include breakpoint($bp-mobile-max) {
            margin-left: $indent-m;
        }
    }

    &__select,
    &__search {
        @include breakpoint($bp-mobile-max) {
            width: 50%;
            &.fullWidthMob {
                width: 100%;
                margin: 0
            }
        }
        &.hiddenMob {
            @include breakpoint($bp-mobile-max) {
                display: none;
            }
        }
    }
}
