.ris-theme-item {
    display: flex;
    text-decoration: none;
    color: $c-black;
    width: 100%;
    min-height: 96px;
    box-shadow: 0 1px 6px 0 $c-box-shadow3;
    @include breakpoint($bp-mobile-max) {
        padding: $indent-m;
    }
    &__image {
        width: 96px;
        &-mobi {
            display: none;
            width: 72px;
            height: 72px;
            margin-right: $indent-m;
            @include breakpoint($bp-mobile-max) {
                display: block;
            }
        }
        @include breakpoint($bp-mobile-max) {
            display: none;
        }
    }
    &__wrapper {
        @include breakpoint($bp-mobile-max) {
            margin-bottom: $indent-m;
            display: flex;
        }
    }
    &__content {
        padding: $indent-m;
        display: flex;
        flex-direction: column;
        @include breakpoint($bp-mobile-max) {
            padding: 0;
        }
    }
    &__title {
        margin: 0 0 $indent-s 0;
        font-size: $fs-l;
        max-height: 36px;
        overflow: hidden;
        hyphens: auto;
    }
    &__info {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    &__reference,
    &__date {
        color: $c-gray8;
        font-size: $fs-l;
    }
    &__reference {
        margin: 0 20px 0 0;
        @include breakpoint($bp-mobile-max) {
            width: 100%;
            margin: 0 0 $indent-s 0;
        }
    }
}
