.ris-theme-item {
    box-shadow: 0 1px 6px 0 $c-box-shadow3;
    color: $c-black;
    display: flex;
    min-height: 96px;
    text-decoration: none;
    width: 100%;

    @include breakpoint($bp-mobile-max) {
        padding: $indent-m;
        width: auto;
    }

    &__image {
        width: 96px;

        &-mobi {
            display: none;
            height: 72px;
            margin-right: $indent-m;
            width: 72px;

            @include breakpoint($bp-mobile-max) {
                display: block;
            }
        }

        @include breakpoint($bp-mobile-max) {
            display: none;
        }
    }

    &__wrapper {
        @include breakpoint($bp-mobile-max) {
            display: flex;
            margin-bottom: $indent-m;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding: $indent-m;

        @include breakpoint($bp-mobile-max) {
            padding: 0;
        }
    }

    &__title {
        font-size: $fs-l;
        hyphens: auto;
        margin: 0 0 $indent-s;
        max-height: 36px;
        overflow: hidden;

        @include breakpoint($bp-mobile-max) {
            margin: 0;
            max-height: 72px;
        }
    }

    &__info {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }

    &__reference,
    &__date {
        color: $c-gray8;
        font-size: $fs-l;
    }

    &__reference {
        margin: 0 20px 0 0;

        @include breakpoint($bp-mobile-max) {
            margin: 0 0 $indent-s;
            width: 100%;
        }
    }
}
