$bp-mobile-max: '(max-width: 767px)';
$bp-tablet-min: '(min-width: 768px)';
$bp-tablet-max: '(max-width: 1023px)';
$bp-desktop-min: '(min-width: 1024px)';

$header-height: 112px;
$header-height-mobile: 88px;
$footer-height: 188px;
$footer-height-mobile: 188px;

$section-width-tablet: 688px;
$section-width-desktop: 1012px;
$aside-width: 320px;
$aside-height-mobile: 106px;

$width-interactive-tablet: 260px;
