$bp-mobile-max: '(max-width: 767px)';
$bp-tablet-min: '(min-width: 768px)';
$bp-tablet-max: '(max-width: 1023px)';
$bp-desktop-min: '(min-width: 1024px)';

$width-section-668: 668px;
$width-section-1024: 1024px;
$width-aside-320: 320px;

$width-interactive-tablet-300: 300px;
