$zi-plugin-notice: 1010;
$zi-plugin-tooltip-arrow: 1001;
$zi-plugin-tooltip: 1000;

$zi-nav-menu-overlay-active: 111;
$zi-nav-menu: 110;
$zi-filter-content: 105;
$zi-map-aside-theme-list: 101;
$zi-map-aside: 100;

$zi-global-search-input: 11;
$zi-global-search-wrapper: 10;
$zi-header-top: 9;
$zi-global-search-bg: 8;
$zi-header: 7;
$zi-footer: 6;
$zi-map: 5;
$zi-main: 4;
$zi-welcome-map-button: 3;
$zi-welcome-map: 2;
$zi-welcome-content: 1;
