.ris-breadcrumbs {
    display: inline-flex;
    list-style: none;
    padding: 0;

    @include breakpoint($bp-mobile-max) {
        margin: $indent-m;
    }

    @include breakpoint($bp-tablet-min) {
        margin: $indent-m $indent-ml;
    }

    &-map {
        margin: 16px 0;
        width: 100%;
        @include breakpoint($bp-desktop-max) {
            margin: 0;
            padding: 16px 0 16px 16px;
        }
        &.hidden {
            @include breakpoint($bp-desktop-max) {
                display: none;
            }
        }
        &__item {
            flex-shrink: 1;
            &:last-child {
                flex-shrink: 0;
                .ris-breadcrumbs__button {
                    cursor: default;
                    font-weight: bold;
                }
            }
            &:not(:last-child) {
                &:after {
                    content: 'I';
                    font-family: $ff-ris-font-icons;
                    color: #ccc;
                    font-size: 12px;
                    padding-left: 8px;
                    padding-right: 8px;
                }
            }
        }
    }

    &__home-link {
        .ris-i_house {
            color: $c-secondary;
            font-size: $fs-xll;
            line-height: 1;
        }

        .ris-link__text {
            display: none;
        }
    }

    &__button {
        outline: none;
        border: none;
        background: transparent;
        padding: 0;
    }

    &__item {
        align-items: center;
        display: inline-flex;
        color: $c-gray2;
        font-family: $ff-helvetica-neue;
        font-size: $fs-l;
        line-height: $lh-l;

        .ris-i_chevron-right {
            color: $c-gray7;
            font-size: $fs-s;
            padding-left: $indent-s;
            padding-right: $indent-s;
        }

        &:last-child {
            .ris-i_chevron-right {
                display: none;
            }
        }
    }

    .ris-link {
        color: $c-gray2;
    }
}
