.ris-card-list {
    $base: &;

    &__item {
        $base-item: &;

        border-radius: $b-radius-primary;
        box-shadow: 0 1px 6px 0 $c-box-shadow3;
        box-sizing: border-box;
        display: block;
        margin-bottom: $indent-m;
        padding: $indent-m;
        position: relative;
        text-decoration: none;

        @include breakpoint($bp-tablet-min) {
            min-height: 112px;
        }

        &:hover {
            box-shadow: 0 1px 3px 0 $c-box-shadow3;

            .ris-h2 {
                color: $c-red;
            }
        }

        .ris-h2 {
            -webkit-box-orient: vertical;
            display: -webkit-box;
            font-size: $fs-l;
            font-weight: bold;
            line-height: $lh-l;
            overflow: hidden;

            @include breakpoint($bp-mobile-max) {
                -webkit-line-clamp: 3;
                max-height: $lh-l * 3;
            }

            @include breakpoint($bp-tablet-min) {
                -webkit-line-clamp: 2;
                max-height: $lh-l * 2;
            }
        }

        &-calendar {
            min-height: auto;
        }
    }

    .ris-h2 {
        &:hover {
            color: $c-red;
        }
    }

    .ris-title {
        @include breakpoint($bp-mobile-max) {
            margin-bottom: $indent-m;
        }

        @include breakpoint($bp-tablet-min) {
            margin-bottom: $indent-ml;
        }
    }

    &__themes {
        > .ris-caption {
            margin-bottom: $indent-s;
        }

        &-img {
            border-radius: 2px;
            height: auto;
            width: 80px;

            @include breakpoint($bp-mobile-max) {
                margin-right: $indent-m;
                width: 72px;
            }

            @include breakpoint($bp-tablet-min) {
                float: left;
                margin-right: $indent-ml;
            }
        }

        &-top {
            @include breakpoint($bp-mobile-max) {
                display: flex;
                margin-bottom: $indent-m;
            }
        }

        &-bottom {
            align-items: center;
            display: flex;
            flex-wrap: wrap;

            @include breakpoint($bp-tablet-min) {
                margin-top: $indent-s;
            }
        }

        &-number {
            display: flex;

            @include breakpoint($bp-mobile-max) {
                flex-basis: 100%;
                margin-bottom: $indent-s;
            }

            @include breakpoint($bp-tablet-min) {
                margin-right: $indent-ml;
            }
        }

        &-date {
            @include breakpoint($bp-mobile-max) {
                margin-left: auto;
            }
        }

        .ris-progress-bar {
            @include breakpoint($bp-tablet-min) {
                margin-right: $indent-ml;
            }
        }
    }

    &__calendar {
        &-date {
            .ris-i_calendar-empty {
                font-size: $fs-xl;
                margin-right: $indent-sm;
            }
        }

        &-place {
            .ris-i_marker-with-dot {
                font-size: $fs-xl;
                margin-right: $indent-sm;
            }
        }
    }
}
