.ris-footer {
    padding-top: 100px;
    position: relative;

    &__back-to-top {
        background-color: $c-white;
        border: 0;
        border-radius: 50%;
        box-shadow: 0 2px 12px 0 $c-box-shadow2;
        cursor: pointer;
        display: inline-flex;
        outline: none;
        padding: 0;
        position: absolute;
        right: 12px;
        top: 0;

        .ris-i {
            padding: 24px;
            transform: rotate(90deg);
        }
    }

    &__logo {
        display: block;
        padding-bottom: $indent-m;

        &::before {
            background-image: url('../img/footer-logo-part-1.svg');
            content: '';
            display: inline-block;
            height: 69px;
            width: calc(100% - 100px);
        }

        &::after {
            background-image: url('../img/footer-logo-part-2.svg');
            background-repeat: no-repeat;
            content: '';
            display: inline-block;
            height: 69px;
            width: 100px;
        }
    }

    &__link-list {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        margin: 0 100px 0 0;
        padding: 0;
        position: absolute;
        right: 0;
    }

    &__link {
        color: $c-gray8;
        font-family: $ff-helvetica;
        font-size: $fs-l;
        line-height: $lh-l;
        margin-left: $indent-sm;
        margin-right: $indent-sm;

        &:hover {
            color: $c-red;
        }
    }
}
