.ris-header {

    @include breakpoint($bp-mobile-max) {
        align-items: center;
        box-shadow: 0 1px 6px 0 $c-box-shadow;
        display: flex;
        padding-bottom: $indent-sm;
        padding-top: $indent-sm;
    }

    @include breakpoint($bp-tablet-min) {
        box-shadow: 0 1px 6px 0 $c-box-shadow2;
        font-size: 0;
        position: relative;
        z-index: 3;
    }

    &__mobile_hidden {
        @include breakpoint($bp-tablet-max) {
            display: none;
        }
    }

    &__bottom {
        background-color: $c-white;

        @include breakpoint($bp-mobile-max) {
            display: inline-flex;
            flex-grow: 1;
        }

        @include breakpoint($bp-tablet-min) {
            display: flex;
            margin: 0 16px 0 0;
        }
    }

    &__top {
        position: relative;
        z-index: 7;
        @include breakpoint($bp-mobile-max) {
            display: inline-flex;
        }

        @include breakpoint($bp-tablet-min) {
            background-color: $c-red;
            display: flex;
        }
    }

    .ris-logo {
        @include breakpoint($bp-mobile-max) {
            height: 37px;
            margin-left: $indent-sm;

            &__desktop {
                display: none;
            }
        }

        @include breakpoint($bp-tablet-min) {
            height: 48px;

            &__mobile {
                display: none;
            }
        }
    }

    .ris-slogan {
        border-left: 4px solid $c-white;
        color: $c-white;
        flex-grow: 1;
        font-family: $ff-open-sans;
        font-size: $fs-xl;
        line-height: $lh-l;
        margin-left: $indent-s;
        padding-left: 20px;
        padding-top: 13px;

        @include breakpoint($bp-mobile-max) {
            display: none;
        }
    }

    .ris-account {
        align-items: center;
        color: $c-white;
        display: inline-flex;
        font-family: $ff-ris-font-icons;
        font-size: $fs-xl;
        line-height: 1;
        padding-right: 14px;
        text-decoration: none;

        @include breakpoint($bp-mobile-max) {
            display: none;
        }

        .ris-i_arrow-drop-down {
            font-size: $fs-s;
            margin-left: $indent-s;
        }
    }

    .ris-search {
        flex-grow: 1;

        @include breakpoint($bp-tablet-min) {
            align-self: center;
        }
    }
}
