.ris-body {
    font-family: $ff-open-sans;
    margin: 0 auto;
}

.ris-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.ris-without-padding-mob {
    @include breakpoint($bp-mobile-max) {
        width: calc(100% + #{$indent-m * 2});
        margin-left: -$indent-m;
    }
}

.ris-content {
    $base-content: &;
    position: relative;

    &_six-eight-eight {
        margin-left: auto;
        margin-right: auto;
        max-width: $width-section-668 - $indent-ml;

        @include breakpoint($bp-tablet-min) {
            .ris-welcome {
                &__content {
                    flex-basis: $width-section-668;
                    padding-right: $indent-ml;
                }

                &-map__desktop {
                    margin-left: $width-section-668 + $indent-ml;
                    right: auto;
                }
            }

            &#{$base-content}_has-widget {
                max-width: $width-section-1024;
            }

            .ris-section-wrapper {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}

.ris-section-wrapper {
    border-bottom: 1px solid $c-gray7;

    @include breakpoint($bp-mobile-max) {
        margin-bottom: $indent-ml;
        padding-bottom: $indent-ml;
        padding-left: $indent-m;
        padding-right: $indent-m;
    }

    @include breakpoint($bp-tablet-min) {
        margin-bottom: $indent-ml;
        margin-left: $indent-ml;
        margin-right: $indent-ml;
        padding-bottom: $indent-xl;
    }
}
