$breadcrumbs-height-mobile: 56px;

.ris-map {
    display: flex;
    width: 100%;
    z-index: $zi-map;

    .ris-marker__district,
    .ris-marker__subdistrict,
    .ris-marker__postcode {
        display: none;
    }

    .ris-marker_active:hover {
        .leaflet-marker-icon {
            pointer-events: none;
        }
    }

    &-desktop {
        display: flex;
        width: 100%;

        @include breakpoint($bp-tablet-max) {
            display: block;
        }
    }

    &__desktop {
        @include breakpoint($bp-desktop-min) {
            width: calc(100% - #{$aside-width});
        }

        @include breakpoint($bp-tablet-max) {
            width: 100%;
            height: calc(100vh - #{$header-height} - #{$aside-height-mobile});
        }

        @include breakpoint($bp-mobile-max) {
            height: calc(100vh - #{$header-height-mobile} - #{$aside-height-mobile});
        }
    }

    &__mobile_active-breadcrumbs {
        @include breakpoint($bp-tablet-max) {
            height: calc(100vh - #{$breadcrumbs-height-mobile} - #{$aside-height-mobile});
        }
    }
}
