$breadcrumbs-height-mob: 165px;
$header-height-mob: 175px;
$aside-width: 320px;

.ris-map {
    display: flex;
    width: 100%;
    z-index: 1;

    &-desktop {
        display: flex;
        width: 100%;

        @include breakpoint($bp-mobile-max) {
            display: block;
        }
    }

    &__desktop {
        width: calc(100% - #{$aside-width});

        @include breakpoint($bp-desktop-max) {
            width: 100%;
            height: calc(100vh - #{$header-height-mob});
        }

        &.fullHeight {
            @include breakpoint($bp-desktop-max) {
                height: calc(100vh - #{$breadcrumbs-height-mob});
            }
        }
    }

    @include breakpoint($bp-tablet-min) {
        &-mobile {
            display: none;
        }
    }
}
