.ris-map {
    z-index: 1;
    display: flex;
    width: 100%;

    &-desktop {
        display: flex;
        width: 100%;

        @include breakpoint($bp-mobile-max) {
            display: block;
            // height: 100vh;
            // display: none;
        }
    }
    &__desktop {
        width: calc(100% - 320px);
        @media screen and (max-width: 1040px) {
            width: 100%;
            height: calc(100vh - 232px);
        }
        &.fullHeight {
            @media screen and (max-width: 1040px) {
                height: calc(100vh - 165px);
            }
        }
    }

    @include breakpoint($bp-tablet-min) {
        &-mobile {
            display: none;
        }
    }

}
