.ris-table-list {
    &-wrapper {
        display: flex;
        @include breakpoint($bp-mobile-max) {
            display: block;
        }

        .ris-section-wrapper {
            border: 0;
            margin: 0 auto;
            @include breakpoint($bp-mobile-max) {
                margin: 0;
            }
        }
    }

    &__subtitle {
        margin-bottom: 10px;
    }

    &__select,
    &__search {
        @include breakpoint($bp-mobile-max) {
            width: 50%;
        }
    }

    &-main-list {
        margin-top: 36px;
        @include breakpoint($bp-mobile-max) {
            margin-top: $indent-l;
        }

        &__heading {
            text-transform: uppercase;
        }

        &__item {
            &:not(:last-child) {
                margin-bottom: 52px;
                @include breakpoint($bp-mobile-max) {
                    margin-bottom: $indent-ml;
                }
            }
        }
    }

    &-secondary-list {

        &__item {
            border-bottom: 1px solid $c-gray7;

            &-wrapper {
                align-items: center;
                color: $c-gray8;
                display: flex;
                font-size: $fs-l;

                @include breakpoint($bp-mobile-max) {
                    display: none;
                }
            }
        }

        &__counter {
            margin-right: $indent-m;

            .ris-i {
                font-size: $fs-xxl;
                padding-right: 10px;
            }
        }

        &__time {
            .ris-i {
                font-size: $fs-xl;
                padding-right: 10px;
            }
        }

        &__time,
        &__counter {
            &::before {
                margin-right: $indent-s;
            }
        }
    }

    &__link {
        cursor: pointer;
        display: block;
        padding: 16px 36px 16px 0;
        position: relative;
        text-decoration: none;

        &:hover {
            .ris-table-list{
                &__subtitle {
                    color: $c-red;
                }
                &__button {
                    color: $c-red;
                    transition: all ease-in-out .1s;
                    transform: translate(2px, -50%);
                }
            }
        }
    }
    &__button {
        transition: all ease-in-out .1s;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        border: 0;
        background: none;
        font-size: $fs-s;
        color: $c-gray8;
    }
}
